.single_person_container {
	min-height: 100vh;
	padding-top: 3.2rem;
	display: flex;
	padding-bottom: 8rem;
	// overflow-x: hidden;
}

.wrapper {
	width: 100%;
	margin-left: 3.5rem;
}

.profile_image {
	height: 50rem;
}

.person_container {
	background-color: #082736d8;
	// height: 80rem;
	padding: 3rem 0 3rem 3rem;
	position: relative;
}

.bookmark_container {
	position: absolute;
	z-index: 2;
	right: 10%;
	top: 2rem;
}

.header {
	display: flex;
}

.text_content {
	margin-left: 3rem;
}
.biography_header {
	margin: 1rem 0;
}

.biography_text {
	width: 80%;
	font-weight: 300;
	color: var(--clr-sub-title);
}

.label_container {
	display: flex;
	align-items: center;
	margin: 0.5rem 0;
}

.label {
	color: var(--clr-sub-title);
	margin-right: 1rem;
}

.label_text {
	color: #fff;
}

.social_icons {
	width: 4rem;
	display: inline-block;
	margin-right: 1.5rem;
}

.socials_container {
	padding: 2rem 0;
}
// / 760px 1024px
@media (max-width: 64em) {
	.single_person_container {
		flex-direction: column;
	}
	.header {
		flex-direction: column;
	}
	.profile_image {
		width: 30rem;
		height: auto;
	}
	.text_content {
		margin-left: 0;
		margin-top: 1rem;
	}
}

// 375 -480px
@media (max-width: 30em) {
	.single_person_container {
		padding: 0;
		margin: 0;
		width: 100%;
	}

	.person_container {
		padding: 0 2rem;
	}
	.profile_image {
		width: 100%;
		height: auto;
	}

	.wrapper {
		padding: 0;
		margin: unset;
	}

	.name {
		font-size: var(--fs-800-s);
	}

	.biography_header {
		font-size: var(--fs-500-s);
	}

	.biography_text {
		font-size: var(--fs-500-s);
		width: 100%;
	}
}
