.home {
	display: grid;
	grid-template-columns: [full-start] minmax(14rem, auto) [col-start] repeat(12, minmax(6.5rem, 12rem)) minmax(14rem, auto) [full-end];
	grid-column-gap: 3rem;
	grid-template-rows: max-content;
}

.section_invite {
	grid-column: full-start / full-end;
	height: 65rem;
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: minmax(61rem, auto) minmax(83rem, auto);
}

.section_invite_bg_image {
	background-image: url("../../assets/img/home/desktop/create-and-share.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.section_invite_context {
	background-color: black;
	height: 100%;
}
.invite_title {
	color: #fff;
	width: 38.7rem;
	margin: 17.3rem 19% 2.1rem 19%;
}

.invite_text {
	color: var(--clr-grey-400);
	width: 38.7rem;
	margin: 0 19% 0 19%;
	line-height: 25px;
}
.btn_wrapper {
	margin: 4.8rem 19% 0 19%;
}

.section_stories {
	grid-column: full-start / full-end;
	height: 60rem;
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: minmax(83rem, auto) minmax(61rem, auto);
}

.btn_wrapper_stories {
	display: block;
	margin: 4.3rem 10% 0 10%;
}

.section_stories_bg_image {
	background-image: url("../../assets/img/home/desktop/beautiful-stories.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.section_stories_context {
}

.stories_title {
	margin: 13.6rem 19% 2.1rem 19%;
}

.stories_text {
	width: 38.7rem;
	margin: 0 19% 0 19%;
	line-height: 25px;
}

.section_designed {
	grid-column: full-start / full-end;
	height: 60rem;
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: minmax(61rem, auto) minmax(83rem, auto);
}

.section_designed_context {
}

.section_designed_bg_image {
	background-image: url("../../assets/img/home/desktop/designed-for-everyone.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.designed_title {
	width: 38.7rem;
	margin: 16rem 19% 2.1rem 19%;
}

.section_gallery {
	grid-column: full-start / full-end;
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: repeat(auto-fit, minmax(36rem, 1fr));
	grid-template-rows: auto;
}

.section_features {
	margin-top: 12rem;
	display: grid;
	grid-auto-flow: column;
	grid-column: full-start / full-end;
}

.feature_wrapper {
	display: flex;
	justify-content: center;
	gap: 3rem;
	margin-bottom: 12rem;
}

.btn_wrapper_designed {
	display: block;
	margin: 4.3rem 10% 0 19%;
}

// / 760px 1024px
@media (max-width: 64em) {
	.home {
		grid-template-columns: [full-start] minmax(3.9rem, auto) [col-start] repeat(12, minmax(4.8rem, 12rem)) minmax(3.9rem, auto) [full-end];
		grid-column-gap: 1rem;
	}

	.section_invite {
		grid-template-columns: minmax(48rem, auto) minmax(25rem, auto);
	}

	.invite_title {
		margin: 17.3rem 10% 2.1rem 10%;
	}

	.invite_text {
		margin: 0 10% 0 10%;
	}

	.btn_wrapper {
		margin: 4.8rem 10% 0 10%;
	}

	.section_invite_bg_image {
		background-image: url("../../assets/img/home/tablet/create-and-share.jpg");
	}

	.section_stories {
		grid-template-columns: minmax(27rem, auto) minmax(49.9rem, auto);
	}

	.section_stories_bg_image {
		background-image: url("../../assets/img/home/tablet/beautiful-stories.jpg");
	}

	.stories_title {
		margin: 13.6rem 10% 2.1rem 10%;
	}

	.stories_text {
		width: 38.7rem;
		margin: 0 10% 0 10%;
		line-height: 25px;
	}

	.section_designed {
		grid-template-columns: minmax(49.5rem, auto) minmax(27rem, auto);
	}

	.designed_title {
		margin: 16rem 10% 2.1rem 10%;
	}

	.section_designed_bg_image {
		background-image: url("../../assets/img/home/tablet/designed-for-everyone.jpg");
	}

	.section_gallery {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}
	.section_features {
		justify-items: center;
	}

	.feature_wrapper {
		flex-direction: column;
	}
}

// 375 -480px
@media (max-width: 30em) {
	.home {
		grid-template-columns: [full-start] minmax(1rem, auto) [col-start] repeat(12, minmax(2rem, 12rem)) minmax(1rem, auto) [full-end];
		grid-column-gap: 1rem;
	}
	.section_invite {
		height: auto;
		display: grid;
		grid-auto-flow: column;
		grid-template-rows: 29rem 41.9rem;
		grid-template-areas: "invite_image" "invite_context";
	}

	.section_invite_context {
		background-color: black;
		height: 100%;
		grid-area: invite_context;
	}

	.section_invite_bg_image {
		background-image: url("../../assets/img/home/mobile/create-and-share.jpg");
		background-size: 100%;
		background-position: center;
		grid-area: invite_image;
	}

	.invite_title {
		color: #fff;
		width: 31.8rem;
		margin: 7.2rem 10% 1.6rem 10%;
	}

	.invite_text {
		width: 31.8rem;
		margin: 0 10% 0 10%;
	}
	.btn_wrapper {
		margin: 2.3rem 10% 0 10%;
	}

	.section_stories {
		height: auto;
		display: grid;
		grid-auto-flow: column;
		grid-template-columns: unset;
		grid-template-rows: 28.5rem 41.9rem;
	}

	.section_stories_bg_image {
		background-image: url("../../assets/img/home/mobile/beautiful-stories.jpg");
		background-size: 100%;
		background-position: center;
	}

	.stories_title {
		margin: 7.8rem 5% 1.6rem 5%;
		width: 31.8rem;
	}

	.stories_text {
		width: 31.8rem;
		margin: 0 5% 0 5%;
		line-height: 25px;
	}

	.btn_wrapper_stories {
		margin: 2.3rem 10% 0 5%;
	}

	.section_designed {
		height: auto;
		display: grid;
		grid-auto-flow: column;
		grid-template-rows: 27rem 41.9rem;
		grid-template-areas: "designed_image" "designed_context";
	}

	.section_designed_bg_image {
		background-image: url("../../assets/img/home/mobile/designed-for-everyone.jpg");
		background-size: cover;
		background-position: top;
		grid-area: designed_image;
	}

	.section_designed_context {
		grid-area: designed_context;
	}

	.designed_title {
		width: 31.8rem;
		margin: 9.2rem 5% 1.6rem 5%;
	}

	.btn_wrapper_designed {
		margin: 2.3rem 10% 0 5%;
	}

	.section_gallery {
		grid-template-columns: unset;
		grid-template-rows: repeat(4, 1fr);
	}

	.section_features {
		margin-top: 8rem;
		display: grid;
		grid-auto-flow: column;
		// justify-content: center;
		margin: 8rem auto;
		// grid-column: full-start / full-end;
	}

	.feature_wrapper {
		// grid-column: 1 / -1;
		width: 100%;
		display: flex;
		justify-content: center;
		// margin-bottom: 12rem;
	}
}
