.media {
	display: flex;
	padding-top: 3.2rem;
}

.container {
	width: 100%;
	margin-left: 3.5rem;
}

.single_container {
	position: relative;
	width: 28rem;
	margin: 0 4rem 3.2rem 0;
}

.wrapper {
	display: flex;
	flex-wrap: wrap;
}

.section_title {
	font-size: var(--fs-800);
	font-weight: 300;
	margin-bottom: 2.5rem;
}

.image {
	border-radius: 0.8rem;
}

.rating_wrapper {
	position: absolute;
	left: 10%;
	top: -5%;
	width: 5rem;
	z-index: 2;
}

// / 760px 1024px
@media (max-width: 64em) {
	.media {
		flex-direction: column;
	}
}

// 375 -480px
@media (max-width: 30em) {
	.media {
		padding-top: 0rem;
	}

	.container {
		margin-left: 2rem;
	}
	.section_title {
		font-size: var(--fs-800-s);
	}
}
