.bookmark_icon_container {
	position: absolute;
	right: 6%;
	z-index: 4;
	top: 6%;
	width: 3rem;
	height: 3rem;
	background-color: var(--clr-bookmark);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	transition: all 0.5s ease-in-out;
}

.modal {
	position: absolute;
	width: 30rem;
}

.book_icon {
	color: #fff;
}

.bookmark_icon_container:hover {
	background-color: var(--clr-bookmark-bg-hover);
	.book_icon {
		color: rgb(65, 63, 63);
	}
}

.trending_image {
	height: 100%;
	width: 100%;
	border-radius: 0.8rem;
}
