.button_4 {
	display: flex;
	width: max-content;
	transition: var(--transition);
	cursor: pointer;
}

.button_4:hover {
	.btn_text {
		text-decoration: underline;
	}
}

.btn_text {
	font-size: var(--fs-200);
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: auto;
	margin-right: 1.6rem;
}

.arrow_img {
}
