.button_4 {
	display: flex;
}

.btn_text {
	font-size: var(--fs-200);
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: auto;
	margin-right: 1.6rem;
}

.arrow_img {
}
