.feature {
	width: 31rem;
	text-align: center;
}

.img_wrapper {
}

.img {
	display: block;
	margin: auto;
}

.feature_title {
	margin: 4.8rem 0 1.6rem 0;
	font-weight: 700;
	line-height: 25px;
	font-size: var(--fs-500);
}

.feature_text {
}

// 375 -480px
@media (max-width: 30em) {
	.feature {
		width: 31rem;
		text-align: center;
	}
}
