.navigation {
	grid-column: 2 / 14;
	height: 7.2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.list {
	display: flex;
	gap: 3.7rem;
}

.span_text {
	color: var(--clr-black-400);
	font-size: var(--fs-200);
	letter-spacing: 2px;
	font-weight: 700;
	text-transform: uppercase;
}

.link_cta {
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	color: #fff;
	height: 4rem;
	background-color: #000;
	font-size: var(--fs-200);
	letter-spacing: 2px;
	font-weight: 700;
	width: 15.8rem;
}

// / 760px 1024px
@media (max-width: 64em) {
}

// 375 -480px
@media (max-width: 30em) {
}
