.list {
	display: flex;
	align-items: center;
}

.list li {
	// float: bottom;
}

.list_item_wrapper {
}

.list_item {
	text-align: center;
	width: 4rem;
	border: 1px solid #fff;
	// height: 3rem;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
}

.list_item:hover {
	background-color: #fff;
	color: #5a698f;
}

.ellipses_dots {
	text-align: center;
	width: 4rem;
	border: 1px solid #fff;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
}

.ellipses_dots:hover {
	background-color: #fff;
	color: #5a698f;
}

.active {
	background-color: #fff;
	color: #5a698f;
}

.buttons {
	width: 4rem;

	cursor: pointer;
	transition: all 0.5s ease-in-out;
	border: 1px solid #fff;
}

.buttons:hover {
	background-color: #5a698f;
	color: #fff;
}

// / 760px 1024px
@media (max-width: 64em) {
}

// 375 -480px
@media (max-width: 30em) {
	.list_item {
		width: 3rem;
	}
	.ellipses_dots {
		width: 3rem;
	}
	.buttons {
		width: 3rem;
	}
}
