.trending {
}

.section_title {
	font-size: var(--fs-800);
	font-weight: 300;
	margin-bottom: 4rem;
}

.arrows_wrapper {
	display: flex;
	justify-content: space-around;
	margin-top: 2rem;
}

.movies_container {
	width: 100%;
	padding: 4rem 0 3rem 0;
	display: grid;
	grid-auto-flow: column;
	gap: 0;
	overflow-x: auto;
}

// / 760px 1024px
@media (max-width: 64em) {
}
// 375 -480px
@media (max-width: 30em) {
	.section_title {
		font-size: var(--fs-800-s);
		margin-bottom: 2rem;
	}
}
